*.bits
*.bbl
*.blg
*.mat
.*.swp
latex/paper.pdf
latex/paper.aux
latex/paper.lof
latex/paper.log
latex/paper.out
latex/paper.toc
latex/paper.log
latex/report.pdf
latex/report.aux
latex/report.lof
latex/report.log
latex/report.out
latex/report.toc
latex/report.log
